.card-report{
    width: 24%;
    display: inline-block;
}
.card-second{
    width: 32%;
    display: inline-block;
}
.card-second .card-body{
    margin: 0
}
.card-body{
    border: #00000017 solid 1px;
    border-radius: 4px;
    padding: 13px;
    background: #f7f7f7;
    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(4px);
    transition: all 0.3s ease;
    box-shadow: unset;
  }