<img ng-show="loading" id="ordersLoading" src="../../../images/loader.gif" />

<!-- <div class="action">
    <button ng-style="{'background': change?'#dff0d8': '#dddddda1'}" class="btn btn-primary" ng-click="ordersDefault()">THANH TOÁN THIẾU</button>
    <button ng-style="{'background': change==false?'#dff0d8': '#dddddda1'}" ng-click="orderNotPay()" class="btn btn-primary">CHƯA THANH TOÁN</button>
</div> -->
<!-- <div ng-hide="change == false"> -->
<div ui-grid="options" ui-grid-resize-columns ui-grid-selection ui-grid-exporter ui-grid-pagination class="grid">
</div>
<!-- </div> -->
<!-- <div ng-show="change == false">
    <div ui-grid="optionsNotPay" ui-grid-resize-columns ui-grid-selection ui-grid-exporter ui-grid-pagination class="grid grid1">
    </div>
</div> -->