<img ng-show="loading" id="ordersLoading" src="../../../images/loader.gif" />
<div id="grid1" ui-grid="options" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-row-edit class="grid"></div>
</div>
<div class="modal fade" id="showClassify" role="dialog">
    <div class="modal-dialog" style="width:fit-content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{titleProductName}}</h4>
            </div>
            <div class="modal-body">
                <li class="addClassify">
                    <input type="text" id="addClassifyName" placeholder="Thêm tên phân loại">
                    <!-- <input style="width: 30%;" type="number" id="addClassifyStock" placeholder="Thêm số lượng trong kho"> -->
                    <button style="padding: 1px 1px 0px 0;border-bottom: 1px #ddd solid;" ng-click="addSkuPreview()"
                        class="skuPreviewUrl">
                        <img class="previewSkuImg" height="38" width="38" src="https://i.imgur.com/NWUJZb1.png">
                    </button>
                    <button ng-click="addSku()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                </li>
                <ul id="listClassify">

                    <li class="classifyItem" ng-repeat="i in listClassify" id="{{i.original_sku}}">
                        <img class="previewSkuImg" style="border: #ccc solid 1px;" height="50" width="50" src="{{i.image? i.image: 'https://i.imgur.com/NWUJZb1.png'}}"
                            alt="">
                        <input type="text" id="classifyName" title="{{i.name}}" value="{{i.name}}">
                        <!-- <input type="number" id="classifyStock" title="In Stock" value="{{i.stock}}"> -->
                        <button ng-click="removeClassify($event)" class="removeClassify">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="saveClassify()" class="btn btn-success" style="float: right;">SAVE</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <!-- <div class="modal-content">         -->
        <!-- <div class="modal-body"> -->
        <div id="regForm">
            <!-- One "tab" for each step in the form: -->
            <div class="tab">
                <p>
                    <input id="productName" placeholder="Tên Sản Phẩm..." oninput="this.className = ''">
                </p>
                <p id="previewImage">
                    <img ng-click="addPreviewImage()" style="cursor: pointer;margin: 4px;" width="121" height="121" src="https://i.imgur.com/7DiFQlI.png"
                        title="THÊM HÌNH ẢNH">
                </p>
            </div>

            <div class="tab">
                <p id="addSku">
                    <input id="skuName" placeholder="Thêm Phân Loại..." style="display: -webkit-inline-box; width: 78%;"
                        oninput="this.className = ''">
                    <button type="button" style="background-image: url('')" ng-click="addSkuPreview()" class="skuPreviewUrl"
                        id="Sku">
                        <span class="glyphicon glyphicon-picture" style="color: #000"></span>
                    </button>
                    <button type="button" ng-click="addSku()" id="Sku">
                        <span class="glyphicon glyphicon-plus" style="color: #288a43"></span>
                    </button>
                    <!-- <button id="Sku">
                            <span class="glyphicon glyphicon-remove" style="color: #e51e1e;"></span>
                        </button> -->
                </p>
                <p id="skuList">
                    <ul class="list-sku">

                        <!-- <li class="list-group-item" >
                                    <button id="Sku">
                                        <span class="glyphicon glyphicon-picture" style="color: #000"></span>
                                    </button>
                                    <span style="width: 77%;margin-right: 6px;background: #ddd;display: inline-block;padding: 12px;font-size: 17px;">Hồng Phấn</span>
                                    <button id="Sku" style="margin-right:0px">
                                        <span class="glyphicon glyphicon-remove" style="color: #e51e1e; "></span>
                                    </button>
                                </li> -->
                    </ul>
                </p>
            </div>


            <div style="overflow:auto;">
                <div style="float:right;">
                    <button type="button" id="prevBtn" style="background: #f33737;color: #fff;" ng-click="nextPrev(-1)">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button type="button" id="nextBtn" style="background: #2fb61f;color: #fff;" ng-click="nextPrev(1)">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>

            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
            </div>

        </div>
        <!-- </div> -->

        <!-- </div> -->
    </div>
</div>
<div class="modal fade" id="addDistributor" role="dialog">
    <div class="modal-dialog" style="width:fit-content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{titleProductName}}</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin: 20px 5px">
                    <div class="addDIS">
                        <input placeholder="Nhập tên nhà phân phối..." id="Disname" type="text">
                        <p>
                            <input placeholder="Nhập ID nhà phân phối..." id="Disid" type="number">
                        </p>
                        <input type="checkbox" ng-click="toggle($event)" id="checkall" />
                        <span> Chọn hết</span>
                        <br />
                        <div class="checkboxClassify" ng-repeat="i in classifyToDis">
                            <input type="checkbox" name="classify" value="{{i.name}}">
                            <input type="text" name="skuName" title="Nhập skuName gốc" placeholder="{{i.name}}" id="skuName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addDis()" class="btn btn-success" style="float: right;">ADD</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="showDistributor" role="dialog">
    <div class="modal-dialog" style="width:fit-content">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{titleProductName}}</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin: 20px 5px">
                    <ul class="listDis">
                        <li ng-repeat="i in linkedToShow" id="{{i.id}}" class="disItem">
                            <span class="disName">
                                <input disabled type="text" name="disName" id="" value="{{i.name}}">
                            </span>
                            <button ng-click="removeDis($event)" class="removeDis">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="saveDis()" class="btn btn-success" style="float: right;">UPDATE</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addInvoiceSelected" role="dialog">
    <div class="modal-dialog">
        <!-- style="width:fit-content" -->
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" ng-show="!previewInv" style="background: #eeeeee30">

                <input placeholder="Nhập mã đơn hàng..." type="text" name="" ng-model="invoiceId" id="invoiceId">
                <!-- <input placeholder="Nhập mã vẫn đơn..." type="button" name="" ng-model="invoiceId" id="invoiceId"> -->

                <input placeholder="Phí Ship" style="width: 25%;" type="number" name="" ng-model="shipping_fee" id="shipping_fee">
                <select class="form-control" name="" id="selectCurrence">
                    <!-- <option></option> -->
                    <option>CNY</option>
                    <option>VNĐ</option>
                    <option>USD</option>
                </select>
                <button ng-click="addShippingNo()" id="addShippingNo"><span class="glyphicon glyphicon-plus"></span> Mã
                    Vận Đơn</button>
                <p style="    margin-right: 2px;">
                    <textarea ng-model="note" placeholder="Nhập note tại đây" class="form-control" rows="1" id="noteInvoice"></textarea>
                </p>
                <p ng-show="shippingNo.length > 0">
                    <ul style="list-style-type: circle;
                    padding-left: 17px;">
                        <li style="margin-bottom: 5px;" ng-repeat="i in shippingNo">{{i.id}}<span class="timeOfShippingNo">{{i.time
                                | date: "dd/MM/y - HH:mm"}}</span> <span class="weightOfShippingNo">{{i.weight}} (kg)</span><span
                                title="phí ship" class="ShippingFeeOfShippingNo">{{i.shipping_fee}} (CNY)</span> </li>
                    </ul>
                </p>
            </div>
            <div class="modal-body" ng-show="!previewInv" >
                <div class="row" ng-show="!copy">
                    <div class="col-md-6">
                        <li ng-click="getClassifyOfInvoice($event)" class="productInvoice" ng-repeat="item in selectedProducts"
                            title="{{item.productName}}" id="{{item.skuProduct}}">
                            <p class="name">{{item.productName}}</p>
                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                        </li>

                    </div>
                    <div class="col-md-6" style="padding-left: 4px;">
                        <div ng-show="classifyOfInvoice.length>0">
                            <div class="priceClassify">
                                <select class="form-control" name="" id="selectDis" ng-model="disName">
                                    <!-- <option></option> -->
                                    <option ng-repeat="i in disNameArr" value="{{i.name}}">{{i.name}}</option>
                                </select>
                                <input step="0.01" ng-model="priceClassify" type="number" name="priceClassify"
                                    placeholder="Giá mỗi phân loại" id="">
                            </div>
                            <div class="checkall">
                                <input type="checkbox" ng-click="toggle($event)" id="checkall" />
                                <span> Chọn hết</span>
                            </div>
                            <div class="checkboxClassifyInvoice" id="{{idProduct}}">
                                <li class="classifyInvoice" ng-repeat="i in classifyOfInvoice">
                                    <input ng-checked="{{i.checked}}" tabindex="-1" type="checkbox" name="classifyOfInvoice"
                                        value="{{i.original_sku}}">
                                    <img height="30px" src="{{i.image? i.image: 'https://i.imgur.com/NWUJZb1.png'}}"
                                        alt="">
                                    <p style="max-width: 18ch;" title="{{i.name}}">{{i.name}}</p>
                                    <input value="{{i.quantity}}" ng-style="{display: i.checked? 'block': 'none' }"
                                        type="number" name="amountClassify" placeholder="" id="">
                                </li>
                            </div>
                            <button name="{{idProduct}}" type="button" ng-click="saveInvoiceProduct($event)" class="btn btn-success saveClassify"
                                style="float: right;">SAVE</button>
                        </div>

                    </div>
                </div>
                <div class="row" ng-show="copy" style="margin: 0px;">
                    <input type="text" autofocus placeholder="Dán list sản phẩm vừa copy..." id="target" contenteditable="true">
                    <!-- </div> -->
                    <div class="general" ng-show="sumPaidCopy > 0">
                        <div class="totalBefore">
                            <b>GIÁ ĐƠN: </b><span id="sumPaidCopy">{{(sumPaidCopy - discount + shipping_fee)|number:3}}</span>
                        </div>
                        <div class="discount">
                            <input style="padding-left: 5px;
                            border: #ddd solid 2px;
                            border-radius: 2px;"
                                placeholder="GIẢM GIÁ" type="number" name="" ng-model="discount" id="">
                                
                            </div>

                    </div>
                    <div id="previewCopy"></div>
                </div>
            </div>

            <div class="modal-body" ng-show="previewInv">
                <div class="infoInvoice">
                    <!-- <p class="traceno"><b>Mã vận đơn: </b>{{invoice.shipping_traceId}}</p> -->
                    <ul style="list-style-type: circle;
                    padding-left: 17px;">
                        <li style="margin-bottom: 5px;" ng-repeat="i in invoice.shipping_traceId">{{i.id}}<span class="timeOfShippingNo">{{i.time
                                | date: "dd/MM/y - HH:mm"}}</span> <span class="weightOfShippingNo">{{i.weight}} (kg)</span>
                        </li>
                    </ul>
                    <p class="status"><b>Trạng thái: </b>{{statusInvoice}}</p>
                    <div class="totalBefore">
                        <b>GIÁ ĐƠN: </b><span id="sumPaidCopy">{{(sumPaid - discountPre + shipping_fee)|number:3}}</span>
                    </div>
                    <div class="discount">
                        <input style="padding-left: 5px;
                        border: #ddd solid 2px;
                        border-radius: 2px;"
                            placeholder="GIẢM GIÁ" type="number" name="" ng-model="discountPre" id="discountPreview">
                        
                    </div>
                </div>
                <div class="itemInvoice">
                    <!-- <div class="row itemInvoicePreview" ng-repeat="item in itemInvoice"></div> -->
                    <table style="box-shadow: none;" class="table table-bordered  itemInvoicePreview">
                        <thead>
                            <tr>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Tên Sản phẩm</th>
                                <th scope="col">Giá ({{invoice.currency}})</th>
                                <th scope="col">Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in itemInvoice">
                                <td style="padding: 0; width: 77px"><img height="76px" width="76px" src="{{item.image}}"
                                        alt=""></td>
                                <td>
                                    <p class="proName">{{item.productName}}</p>
                                    <p class="classify">
                                        <- {{item.classifyName}} ->
                                    </p>
                                </td>
                                <td>
                                    <span class="currency">{{item.priceClassify}}</span>
                                </td>
                                <td>
                                    <span class="quantity">{{item.quantity}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- </div> -->
                </div>

            </div>
            <div class="modal-footer">

                <span ng-show="!copy && !previewInv" ng-click="previewInvoice()" class="previewInvoice">PREVIEW</span>
                <button ng-show="copy" ng-click="saveInvoiceCopy()" style="float: right" class="btn btn-success">SAVE</button>
                <button ng-show="previewInv" ng-click="saveInvoice()" class="btn btn-success">ADD</button>
                <button ng-show="previewInv" ng-click="previewInv = false" class="btn btn-danger">CANCEL</button>
            </div>
        </div>