<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="card-report">
            <div class="card-body">
                <p class="card-text">Hôm Nay</p>
                <h4 class="card-title">
                    <span ng-show="today >= 0">
                        <a>{{today}}</a> Đơn Hàng</span>
                </h4>
                <h4 class="card-title">
                    <span ng-show="sumToday >= 0">
                        {{sumToday.toLocaleString()}} ₫
                    </span>
                </h4>

            </div>
        </div>
        <div class="card-report">
            <div class="card-body">
                <p class="card-text">Ngày hôm qua</p>
                <h4 class="card-title">
                    <span ng-show="yesterday >= 0">
                        <a>{{yesterday}}</a> Đơn Hàng</span>
                </h4>
                <h4 class="card-title">
                    <span ng-show="sumYes >= 0">
                        {{sumYes.toLocaleString()}} ₫</span>
                </h4>


            </div>
        </div>
        <div class="card-report">
            <div class="card-body">
                <p class="card-text">7 ngày qua</p>
                <h4 class="card-title">
                    <span ng-show="seven >= 0">
                        <a>{{seven}}</a> Đơn Hàng</span>
                </h4>
                <h4 class="card-title">
                    <span ng-show="sumSeven >= 0">
                        {{sumSeven.toLocaleString()}} ₫</span>
                </h4>

            </div>
        </div>
        <div class="card-report">
            <div class="card-body">
                <p class="card-text">Tháng này</p>
                <h4 class="card-title">
                    <span ng-show="month >= 0">
                        <a>{{month}}</a> Đơn Hàng</span>
                </h4>
                <h4 class="card-title">
                    <span ng-show="sumMonth >= 0">
                        {{sumMonth.toLocaleString()}} ₫</span>
                </h4>

            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="card-second">
            <div class="card-body">
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="donutData" chart-labels="donutLabels">
                    </canva>
                    <span class="donut-label"></span>
            </div>
        </div>
        <!-- <div class="card-second">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
        <div class="card-second">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div> -->
    </div>
    <!-- </div> -->
</div>
