
<div class="noprint">
    <div class="col-md-9">
        <div>
            <div id="grid1" ui-grid="options" ui-grid-resize-columns ui-grid-selection ui-grid-cellnav ui-grid-pagination ui-grid-edit
                class="grid"></div>
        </div>
    </div>
    <div class="col-md-3">
        <ul class="list-group" style="font-size: 20px;">
            <li class="list-group-item">
                <span id="size">{{id}}</span>
            </li>
            <li class="list-group-item">Số lượng đơn đã gửi:
               <span id="shipped">{{arrShipped.length}}/<span id="size">{{size}}</span></span> </li>
            <li class="list-group-item">
                {{carrier}}
            </li>
            <li class="list-group-item">Người nhận:
                <input type="text" name="" id="shipperName" value="{{shipperName}}">
            </li>
            <li class="list-group-item">Ngày tạo:
                <span id="date">{{date}}</span>
            </li>
        </ul>
        <span ng-show="!cancel">{{status}}</span>
        <div ng-show="cancel">

            <input type="radio" style="margin: 4px 5px 22px 15px;" ng-model="status" value="MỚI"> MỚI


            <input type="radio" style="margin: 4px 5px 22px 15px;" ng-model="status" value="ĐÃ GIAO"> ĐÃ GIAO


            <input type="radio" style="margin: 4px 5px 22px 15px;" ng-model="status" value="CANCEL"> HỦY PHIẾU

        </div>
    </div>
</div>
<div class="print">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>{{id}}</td>
                <td>{{carrier}}</td>
                <td>{{date}}</td>
            </tr>
            <tr id="haveQR">                
                <td>Người giao:</td>
                <td>
                    SỐ LƯỢNG:
                    <b>{{size}}</b> ĐƠN
                    <p>Người nhận:</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <span style="line-height: 40px;font-size: 20px;margin-right: 12px;" ng-repeat="x in arrTraceno | orderBy">
            {{x}}, 
        </span>
    </p>
</div>