<!-- <div class="container"> -->
<div class="printBut" style="display: none;position: fixed;bottom: 0px;left: 0px;z-index: 2147483647;">
    <div class="panel-body noprint">
        <button ng-click="printProduct()" style="font-size: 26px;
             border-radius: 25px" class="btn btn-primary noprint" id="print">
            <span class="glyphicon glyphicon-print"></span>
        </button>
        <form id="imgur">
            <div id="dropContainer">
                <img src="../../../images/upload.png" id="upfile" style="    width: 35px;cursor:pointer" />
                <input type="file" style="display:none" id="fileInput" class="imgur noprint" accept="image/*" />
            </div>
        </form>
    </div>
</div>
<img ng-show="loading" id="ordersLoading" src="../../../images/loader.gif" />

<div id="grid1"  ui-grid="options" ui-grid-resize-columns ui-grid-selection ui-grid-exporter ui-grid-cellnav ui-grid-pagination
    class="grid noprint">
</div>
<div class="modal fade noprint" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-single"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group-status singleStatus" id="singleStatus">

                    <input type="radio" ng-disabled="showStatus > 5" style="margin: 4px 5px 22px 15px;" ng-model="statusRadio" value="NEW">
                    <b>ĐƠN MỚI</b>


                    <input type="radio" ng-disabled="showStatus > 5" style="margin: 4px 5px 22px 15px;" ng-model="statusRadio" value="PACKED">
                    <b>ĐÃ ĐÓNG GÓI</b>


                    <input type="radio" ng-disabled="showStatus > 5" style="margin: 4px 5px 22px 15px;" ng-model="statusRadio" value="SHIPPED">
                    <b>ĐÃ GỬI ĐI</b>


                    <input type="radio" ng-disabled="showStatus > 5" style="margin: 4px 5px 22px 15px;" ng-model="statusRadio" value="DELIVERED">
                    <b>KHÁCH ĐÃ NHẬN</b>

                    <!-- 
                                        <input type="radio" ng-model="statusRadio" value="PAID">ĐÃ THANH TOÁN
                                </div> -->
                </div>
            </div>
            <div class="modal-footer modal-single">
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade noprint" id="changeBulkStatus" role="dialog">
    <div class="modal-dialog" style="width: 450px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{BulkChangeStatus.length}} ĐƠN</h4>
            </div>
            <div class="modal-body">
                <input placeholder="Nhập id để đổi trạng thái" type="text" id="testScan" autofocus>
                <div id="listChangeSuccess">
                    <span ng-show="BulkChangeStatus.length > 0">
                        <input type="checkbox" ng-click="toggle($event)" id="checkall" />
                        <span> Chọn hết</span>
                        <br/>
                    </span>
                    <li ng-repeat="i in BulkChangeStatus" id="{{i.id}}" class="success-change">
                        <input type="checkbox" name="scanId" value="{{i.id}}">
                        <span class="idSuccess">{{i.id}}</span>
                        <span class="status">({{i.status}})</span>
                        <span ng-show="i.new_status !== ''" class="new_status"> => ({{i.new_status}})</span>
                        <span ng-click="removeScan($event)" style="float: right;
                        margin-right: 10px;
                        margin-top: 3px;
                        color: #ca0f0f;
                        cursor: pointer;" class="glyphicon glyphicon-remove"></span>
                    </li>
                </div>
                <div class="form-group-status" id="bulkStatus">
                    <div class="changeStatus">
                        <input type="radio" ng-model="BulkStatusRadio" style="margin: 4px 5px 22px 15px;" value="NEW">
                        <b>ĐƠN MỚI</b>


                        <input type="radio" ng-model="BulkStatusRadio" style="margin: 4px 5px 22px 15px;" value="PACKED">
                        <b>ĐÃ ĐÓNG GÓI</b>
                        <button ng-click="createExport()" style="margin-left: 26px;margin-bottom: 15px;border: none;padding: 6px;background: #da3725;color: #fff;border-radius: 3px;">TẠO PHIẾU XUẤT</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="print rowPrint">
    <ul ng-repeat="x in rowSelected" class="list-group" style="float: left;width: 50%; margin-bottom: 5px">
        <div style="display: inline-block; margin-right: 10px">
            <div id="{{x.id}}"></div>
        </div>
        <div style="display: inline-block">
            <!-- <li class="list-group-item">
                ID: {{x.id}} - {{x.own_Status}}
            </li> -->

            <span style="font-size:22px">{{x.trackno}}</span>
            <br>
            <li style="padding-bottom: 8px; list-style-type : none">
                {{x.nickname}}
                <br>{{x.name}}
            </li>
        </div>

    </ul>


    <!-- <div class="col-sm-6"> -->
    <!-- </div>     -->
</div>
<div class="modal fade noprint" id="modalProduct" role="dialog">
    <div class="modal-dialog " style="padding: 8px;
        background: #fff;
        border-radius: 6px;">
        <!-- Modal content-->

        <div id="previewPro" class="noprint"></div>

    </div>
</div>

<table id="html2image" class="table table-bordered products noprint" style="width: 587px;">
    <tbody>
        <tr ng-repeat="item in products">
            <td style="background: #fff;">
                <img class="imgPro" src="{{item.imageUrl}}" width="80px" height="80px" alt=""> </td>
            <td>{{ item.name }}
                <br>
                <b ng-show="item.orders.length > 0">[
                    <span  ng-repeat="order in item.orders" class="{{order.one}}">
                        {{order.order}}
                        <span ng-show="item.orders.length >1 " style="color:#000">, </span>
                    </span> 
                ]</b>
            </td>
            <td>{{ item.model }}</td>
            <td>{{ item.amount }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered print">
    <tbody>
        <tr ng-repeat="item in products">
            <td>{{ item.name }}</td>
            <td>{{ item.model }}</td>
            <td>{{ item.amount }}</td>
        </tr>
    </tbody>
</table>

<!-- </div> -->