<div style="display: inline;position: fixed;bottom: 0px;left: 0px;z-index: 999;">
    <div class="panel-body">
        <button ng-click="print()" class="btn btn-primary noprint" id="print">IN ĐƠN</button>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-right: 67px;">
            <table id="left" class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <div id="trackno" style="font-size: 20px;">
                                <b>
                                    {{trackingNo}}
                                    <span ng-show="showStatus > 5"> - {{statusLonhon6}}</span>
                                </b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="nickname">
                                {{nickName}} - {{name}}
                            </span>
                        </td>
                    </tr>
                    <tr ng-show="note !== ''">
                        <!-- <tr> -->
                        <td>
                            <span>
                                {{note}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="form-group-status noprint">

                <input type="radio" ng-disabled="showStatus > 5" style="margin: 4px 5px 22px 15px;" ng-model="statusRadio" value="NEW">
                <b>ĐƠN MỚI</b>


                <input type="radio" ng-disabled="showStatus > 5" style="margin: 4px 5px 22px 15px;" ng-model="statusRadio" value="PACKED">
                <b>ĐÃ ĐÓNG GÓI</b>


                <input type="radio" ng-disabled="showStatus > 5" style="margin: 4px 5px 22px 15px;" ng-model="statusRadio" value="SHIPPED">
                <b>ĐÃ GỬI ĐI</b>


                <input type="radio" ng-disabled="showStatus > 5" style="margin: 4px 5px 22px 15px;" ng-model="statusRadio" value="DELIVERED">
                <b>KHÁCH ĐÃ NHẬN</b>

                <!-- 
                            <input type="radio" ng-model="statusRadio" value="PAID">ĐÃ THANH TOÁN
                    </div> -->
                </select>
            </div>
            <!-- <div class="row"> -->
            <div>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td title="Ngày đặt hàng">{{date}}</td>
                            <td title="Số điện thoại khách mua">+{{phone}}</td>
                            <td title="Mã vận đơn - Nhà vận chuyển">{{trackingNo}} - {{carrier}}</td>
                        </tr>
                        <tr>
                            <td title="Mã đơn">{{orderId}}</td>
                            <td title="ID">
                                <a target="_blank" href="https://banhang.shopee.vn/portal/sale/{{urlId}}">{{urlId}}</a>
                            </td>
                            <td title="Dự kiến thu">{{pay}} COD</td>
                        </tr>
                        <tr>
                            <td id="qrcode">
                                <td title="Tên khách">{{name}}</td>
                                <td title="Địa chỉ">{{address}}</td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card noprint" style=" box-shadow: 2px 8px 17px -4px rgba(0, 0, 0, 0.34);">
                <div class="card-body">
                    <textarea ng-model="note" placeholder="Nhập note tại đây" class="form-control" rows="2" id="noteEdit">{{note}}</textarea>
                    <div class="btn-group" style="margin-top: 10px; float: right">
                        <button id="saveNote" class="btn btn-success" style="margin-right: 10px">SAVE</button>
                        <button id="cancelNote" class="btn btn-danger">CANCEL</button>
                    </div>
                </div>
            </div>
            <!-- <div class="card noprint" style="margin-top: 56px;">
                <div class="card-body">
                    {{logistics}}
                </div>
            </div> -->
            <!-- </div> -->

        </div>
        <div class="col-md-6">
            <div class="rowProducts row noprint">
                <span class="noprint">
                    <label class="checkboxcontainer"> IN CẢ NHỮNG SẢN PHẨM DƯỚI
                        <input type="checkbox" ng-model="printProducts">
                        <span class="checkmark"></span>
                    </label>
                </span>
                <table style="margin-top: 10px" id="products" class="table table-bordered">
                    <tbody>
                        <tr ng-repeat="item in products">
                            <td class="imageProduct" style="background: #fff;">
                                <img src="{{item.imageUrl}}" width="80px" height="80px" alt=""> </td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.model }}</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>