<div style="display: inline;position: fixed;bottom: 0px;left: 0px;z-index: 999;">
        <div class="panel-body">
                <button ng-click="print()" class="btn btn-primary noprint" id="print">IN ĐƠN</button>
        </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6" id="left">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <div id="trackno" style="font-size: 20px;">
                                <b>
                                    {{trackingNo}}
                                </b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="nickname">
                                {{nickName}} - {{name}}
                            </span>
                        </td>
                    </tr>
                    <tr ng-if="showNote">
                        <td>
                            <span>
                                {{note}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group noprint">
                <label id="status">{{status}}</label>
                <select class="form-control" name="" id="selectStatus">
                    <option></option>
                    <option>Đơn mới</option>
                    <option>Đủ hàng</option>
                    <option>Thiếu hàng</option>
                    <option>Đã đóng gói</option>
                    <option>Đã gửi đi</option>
                    <option>Khách đã nhận</option>
                    <option>Đang hoàn hàng</option>
                    <option>Đã hoàn về kho</option>
                    <option>Đã thanh toán</option>
                    <option>Đã hoàn tiền</option>
                    <option>Đã hủy</option>
                </select>
                <br>
                <div class="card">
                    <div class="card-body">
                        <textarea placeholder="Nhập note tại đây" class="form-control" rows="3" id="noteEdit"></textarea>
                        <div class="btn-group" style="margin-top: 10px; float: right">
                            <button id="saveNote" class="btn btn-success" style="margin-right: 10px">SAVE</button>
                            <button id="cancelNote" class="btn btn-danger">CANCEL</button>
                        </div>
                    </div>
                </div>
                <div class="card" style="    margin-top: 56px;">
                    <div class="card-body">
                        {{logistics}}
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>{{trackingNo}} - {{carrier}}</td>
                            <td>+{{phone}}</td>
                            <td>{{date}}</td>
                        </tr>
                        <tr>
                            <td>{{orderId}}</td>
                            <td> <a target="_blank" href="https://banhang.shopee.vn/portal/sale/{{urlId}}">{{urlId}}</a></td>
                            <td>{{pay}} COD</td>
                        </tr>
                        <tr>
                            <td>{{name}}</td>
                            <td>{{address}}</td>
                            <td id="qrcode">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row noprint" style="margin-top: 8px">
                <table id="products" class="table table-bordered">
                    <tbody>
                        <tr ng-repeat="item in products">
                            <td style="background: #fff;">
                                <img src="{{item.imageUrl}}" width="80px" height="80px" alt=""> </td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.model }}</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>