<div ng-show="okey" class="panel panel-default panel-1688-shopee" ng-controller="item-shopee-saleCtrl" id="addTaskModal">
    <div class="panel-header">
        <span class="pull-right" data-toggle="collapse" data-target=".panel-body">
            < </span>
    </div>
    <div class="panel-body collapse in">
        
        <div class="exDetail">
            <div class="note" style="width: 145px;
            margin-bottom: 10px;
            padding: 5px;
            background: #ff5722;
            color: #fff;
            font-weight: bold;" ng-show="note !== ''">
                "{{note}}"
            </div>
            <a href="#" target="_blank" class="exId" ng-show="traceno !== ''" title="Mã Vận Đơn" style="padding: 5px;
            background: #00bfa5;
            color: #fff;line-height: 29px;">{{traceno}}</a>
            <br>
            <a href="{{exLink}}" target="_blank" ng-show="exId !== ''" class="exId" title="Mã Phiếu Xuất" style="padding: 5px;
            background: #00bf33;
            color: #fff;line-height: 29px;">{{exId}}</a>
            <br>
            <span class="dateEx" title="Thời gian tạo Mã Phiếu Xuất">{{exDate | date:'dd/MM/yyyy hh:mm'}}</span>
        </div>
        <div ng-show="statusRadio == 'PAID'">
            ĐÃ THANH TOÁN
        </div>
        <div ng-show="statusRadio!=='PAID'" class="form-group-status noprint" ng-show="showSelect">
            <div class="form-check">
                <input type="radio" ng-model="statusRadio" value="NEW">ĐƠN MỚI
            </div>
            <div class="form-check">
                <input type="radio" ng-model="statusRadio" value="PACKED">ĐÃ ĐÓNG GÓI
            </div>
            <div class="form-check">
                <input type="radio" ng-model="statusRadio" value="SHIPPED">ĐÃ GỬI ĐI
            </div>
            <!-- <div class="form-check">
                <input type="radio" ng-model="statusRadio" value="DELIVERED">KHÁCH ĐÃ NHẬN
            </div> -->
            <!-- <div class="form-check">
                <input type="radio" ng-model="statusRadio" value="PAID">ĐÃ THANH TOÁN
            </div>
            <div class="form-check">
                <input type="radio" ng-model="statusRadio" value="RETURNING">ĐANG HOÀN HÀNG
            </div> -->
            <div class="form-check">
                <input type="radio" ng-model="statusRadio" value="RETURNED">ĐÃ HOÀN HÀNG
            </div>
            <div class="form-check">
                <input type="radio" ng-model="statusRadio" value="CANCELED">ĐÃ HỦY
            </div>
            </select>

        </div>
        <a href={{printLink}} target="_blank">
            <button class="btn btn-success" id="print">THEO DÕI</button>
        </a>
    </div>
</div>