<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lập Nghiệp Shop Online</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/custom/popup/css/custom.css">
</head>
<body ng-app='app'>
  <nav ng-controller="headerCtrl" class="navbar navbar-default container-fluid">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        
        <a ui-sref="state" class="navbar-brand" href="#/">Báo Cáo</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="{active:isActive('/feed')}"><a href="#/feed">Feed</a></li>
          
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li ng-show="firebaseUser">
                  <a>Xin chào, {{ firebaseUser.displayName }}</a>                 
          </li>   
          <li ng-show="firebaseUser">
              <a href="#" ng-click="startSignIn()">Sign Out</a>
              
          </li>   

          <li ng-hide="firebaseUser"> 
            <a>Xin chào, vui lòng đăng nhập.</a>
          </li>
          <li ng-hide="firebaseUser">
            <a href="#" ng-disabled="isDisabled" ng-init="textButton = 'Sign In With Google'" ng-click="startSignIn()">{{textButton}}</a>
          </li>
          <li><a href="#" id="linkOpenOptionsPage">Quản Trị</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div ng-view></div>
    
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-firestore.js"></script>

  <script src="/lib/jquery/jquery-2.1.3.min.js"></script>
  <script src="/lib/angular/1.5.9/angular.min.js"></script>
  <script src="/lib/angular/1.5.9/angular-route.min.js"></script>

  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>



  <script src="/app-popup/app.js"></script>
  <script src="/app-popup/controller/homeCtrl.js"></script>
  <script src="/app-popup/controller/feedCtrl.js"></script>

</body>
</html>